body {
            font-family: Montserrat;
            text-align: center;
}

.font {
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 0px;
}

.font1 {
            font-size: 20px;
            margin-top: 5px;
}