.flex {
  display: flex;
}

.item1 {
    width: 50px;
    background-color: lightblue;
}

.item2 {
    background-color: lightpink;
    flex: 1;
}

.item3 {
    width: 75px;
    background-color: lightblue;
}
