body {
    font-family: calibri;
}

.box {
    border: 1px solid rgba(128, 128, 128, 0.678);
    width: 390px;
    height: 150px;
    border-radius: 5px;
    background-color: rgba(207, 196, 196, 0.438);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text {
    align-items: center;
    padding: 4px;
    margin-left: 15px;
    margin: 4px;
    height: auto;
    font-size: 20px;
}

.biru {
    background-color: blue;
    color: white;
    border-radius: 25px;
    width: 30px;
    height: auto;
    padding: 5px;
    margin-top: 4px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}
.card {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    width: 350px;
}