body {
    font-family: Arial, sans-serif;
}

.judul {
    text-align: center;
    margin-top: 20px;
}

.video-list {
    display: flex;
    margin: auto;
    background-color: white;
    padding: 15px;
}

.video-item {
    display: flex;
    margin-bottom: 15px;;
}

.thumbnail {
    width: auto;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

.video-info1 {
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 5px
}

.video-info2 {
    font-family: arial;
    color: #888;
    font-size: 20px;
    margin-top: 15px;
}

.video-info3 {
    font-family: arial;
    color: #888;
    font-size: 20px;
    margin-top: 0px;
}
